body {
    padding: 25px 50px 50px;

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
    padding-bottom: 1.5em;
    padding-left: 1em;
}

.headerLogo img{

    float: left;
    padding-right: 1em;
}
.headerLogo h1{
    position: relative;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.applicationProcess{
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
}

#main-button {
    margin-left: 45%;
}

.form-horizontal {
    padding-right: 30em;
}

.footer {
  margin-top: 3em;
  background-color: #39a8e8;
  height: 2em;
}

.footer a {
  padding-top: 0.5em;
  padding-right: 0.5em;
  color: white;
}

#main-button .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}