
extends layout

block content
    h2=title
    .container
        #{message}
            if message
                .alert.alert-dismissible.alert-danger
                    button.close(type='button', data-dismiss='alert')
                    strong Submission failed ! Make sure you have completed all fields
                    |  and try submitting again.

        form.form-horizontal(action="/upload/" + fileName , method="post", role="form", enctype="multipart/form-data")
            fieldset
                legend
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="travelDocPhoto") Travel document
                    .col-xs-12.col-sm-10
                        input#travelDocPhoto.form-control(name="travelDocPhoto", placeholder='Travel document', type='file')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="photo") Photo
                    .col-xs-12.col-sm-10
                        input#photo.form-control(name="photo", placeholder='photo', type='file')
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="supportingDocument2") Supporting document 2
                    .col-xs-12.col-sm-10
                        input#supportingDocument2.form-control(name="supportingDocument2", placeholder='Supporting Document 2', type='file')
                .form-group
                    .col-lg-10.col-lg-offset-2
                        button.btn.btn-default(type='reset') Cancel
                        button.btn.btn-primary(type='submit') Submit